<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mail de validation d'une demande congé NAF</title>
<style type="text/css">
<!--
.Style1 {color: #FF0000}
-->
</style>
</head>

<body>
Bonjour,

<br/>
<font face="Times New Roman, Times, serif"><p>Une nouvelle demande de congé envoyée par <strong>{% if nom %}{{ nom }} {% endif %}{% if prenom %}{{ prenom }}{% endif %}</strong>.
<br/>
Pour plus d'informations consulter votre application de gestion congés NAF.</p>
<p class="Style1">Merci bien de valider cette demande,sans aucune réponse en retour à ce mail.</p></font>
<p>Cordialement.</p>
Norsys Afrique
</body>
</html>