@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
body {
	margin: 10px;
	font: 0.8em "Trebuchet MS", Georgia, Arial;
	color: #565D79;
	background: #ffffff url(../images/medias/bg.gif);
	}
#content{
	position: relative;
	width: 830px;
	margin: 0 auto;
	border: 2px solid #C0C0C0;
	background-color: #FFFFFF;
	}
#top{
	width: 820px;
	height: 126px;
	padding: 2px;
	background-color: #F7F7F7;
	border: 2px solid #FFFFFF;
	}
#top_ban{
	width: 820px;
	height: 120px;
	border: 2px solid #C0C0C0;
	background: url(../images/medias/top_ban.jpg)no-repeat left bottom;
	}
#menu {
	font: 0.9em Tahoma, sans;
	text-align: left;
	list-style-type: none;
	margin: 0;
	height: 37px;
	line-height: 37px;
	border-bottom: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	background: url(../images/medias/nav.png) repeat-x left bottom;
}
#menu li {
	display: inline;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding: 0px 8px 0 8px;
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
	color: #2A3976;
	font-variant: small-caps;
	font-weight: bold;
	border-right: 2px solid #C0C0C0;
}
#menu li a {
	margin: 0 12px;
	color: #2A3976;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}
#menu2 {
	float: right;
	width: 180px;
	margin-right: 2px;
	padding-left: 2px;
	border-left: 0px solid #C0C0C0;
}
#menu2 li, #menu2 li a{
	display: block;
	color: #2A3976;
	height: 30px;
	line-height: 30px;
	background: url(../images/medias/nav2.png) repeat-x left bottom;
	padding-left: 10px;
}
#menu2 li a:link, #menu2 li a:visited{
	background-color : #FFFFFF;
	border-top: 0px solid #000000;
}
#menu2 li a:hover{
	background-color : #B30000;
	color: #2A3976;
	border-left: 6px solid #BDC4E5;
	font-variant: small-caps;
	font-weight: bold;
}
#page{
	float: left;
	width: 570px;
	padding: 30px 10px 10px 20px;
	min-height: 400px;
	}
#footer{
	width: 820px;
	height: 18px;
	padding: 2px;
	background-color: #BDC4E5;
	border: 2px solid #FFFFFF;
	text-align: center;
	clear: both;
	}
#footer a{
	font-size: 0.8em;
	color: #565D79;
	}
a{
	text-decoration: none;
	color: #2E4FDD;
	}
a:hover{
	text-decoration: underline;
	color: #6974C5;
	}
img.img {
	border: 1px dashed #E1E2E8;
	padding: 6px;
	}
#top_ban h1{
	color: #565D79;
	font: 1.4em Georgia, Arial;
	padding: 85px 0px 4px 10px;
	border: 0px solid #E1E2E8;
	font-weight: bold;
	font-variant: small-caps;
	}
h1{
	color: #990000;
	font: 1.4em Georgia, Arial;
	border-bottom: 2px solid #B30000;
	border-left: 4px solid #B30000;
	text-align: left;
	font-variant: small-caps;
	margin: 10px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
	}
h2{
	width: 60%;
	color: #D60000;
	font: 1.2em Georgia, Arial;
	border-bottom: 1px solid #C0C0C0;
	margin: 10px 0 10px 0;
	padding-bottom: 3px;
	}
	

ul {
	list-style-type: square;
}
ol{
	list-style-type: none;
}
li{
	list-style-type: none;
	margin-top: 12px;
	}
p{
	width: 100%;
	margin: 12px 0px 30px 0px;
	}